<div class="container">
   <div class="row my-5">
    <h2 class="col-12">All Countries</h2>
    <% @countries.each do |country| %>
    <div class="col-4">
      <h2><%= link_to country.name, country %></h2>
    </div>
    <% end %>
  </div>
</div>
