<div class="container">
  <div class="row">
    <h2 class="col-12"> Clubs in <%= @city.name %></h2>
    <% @city.clubs.each do |club| %>
      <div class="col-4">
        <h2><%= link_to club.name, club %></h2>
      </div>
    <% end %>
  </div>
</div>
