// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "clubs/index";

.carousel-inner {
  height: 60vh;
}
.carousel-item {
  height: 60vh;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.form-box {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 20px;
}

.box-count {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 10px;
  text-align: center;
}
i {
  font-size: 2rem;
  margin-right: 20px;
}
